################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.idea/.idea.SPT-MenuOverhaul/.idea
/.vs
/.github/
/bin/
/obj/
/Properties
/Build/
/docs/